@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    display: inline-block;
    margin: 0px;
    width: 100%;
    height: auto;
    background-image: url(/FerrariBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


ul {
    display: inline-block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


header {
    display: inline-block;
    max-width: 400px;
    position: relative;
}


nav {
    display: inline-block;
    width: 100%;
}



/********** HEADER **********/


.heading {
    display: inline-block;
    max-width: 400px;
    position: absolute;
}


.main-heading {
    color: #D4D4D8;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
    display: inline-block;
    border-bottom: 4px solid yellow;
    padding-bottom: 2px;
    font-size: 3rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
}



/********** TOP NAV BAR **********/


.container-top {
    width: 730px;
    height: 200px;
    margin-right: 1rem;
    overflow: hidden;
    float: right;
    position: relative;
    top: 8vh
}


.container-top li {
    display: inline-block;
    padding: 0px 0.5rem;
}


.container-top a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #D4D4D8;
    letter-spacing: 2px;
    font-size: 1.1rem;
}


.container-top .active-top {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}



/********** SIDE NAV BAR **********/


.container-side {
    overflow: hidden;
    transform: rotate(-90deg);
    margin-left: -150px;
    margin-top: 100px
}


.container-side li {
    display: inline;
    transform: rotate(-90deg);
    margin: 0px 1rem;
    overflow: hidden;
}


.container-side a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    border-bottom: 4px solid red;
    padding-bottom: 15px;
}


.container-side .active-side {
    border-bottom: 4px solid yellow;
}



/********** MEDIA QUERIES **********/


@media screen and (max-width: 1010px) {
    .container-top {
        width: 100%;
        height: 50px;
        text-align: center;
        margin-top: 50px;
        padding-top: 15px;
        float: left;
        top: 8vh;
        background-color:
            #171717
    }

    .container-side {
        overflow: hidden;
        transform: rotate(-90deg);
        margin-left: -150px;
        margin-top: 250px
    }
}


@media screen and (max-width: 745px) {

    .container-top li {
        display: block;
        padding: 2.5px 0.5rem;
    }

    .container-top {
        width: 100%;
        height: 160px;
        text-align: center;
        margin-top: 50px;
        padding-top: 15px;
        float: left;
        top: 8vh;
        background-color:
            #171717;
    }
}